<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="abdroz_foodmenu" frontName="abdroz_foodmenu">
            <module name="Abdroz_FoodMenu" before="Magento_Backend"/>
        </route>
    </router>
</config>