<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="abdroz_foodmenu_menulist_listing_data_source" xsi:type="string">Abdroz\FoodMenu\Model\ResourceModel\Menulist\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Abdroz\FoodMenu\Model\ResourceModel\Menulist\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">abdroz_foodmenu</argument>
            <argument name="resourceModel" xsi:type="string">Abdroz\FoodMenu\Model\ResourceModel\Menulist</argument>
        </arguments>
    </virtualType>
    <preference for="Abdroz\FoodMenu\Api\FoodmenuRepositoryInterface" type="Abdroz\FoodMenu\Model\Api\FoodmenuRepository"/>
    <preference for="Abdroz\FoodMenu\Api\RequestItemInterface" type="Abdroz\FoodMenu\Model\Api\RequestItem"/>
    <preference for="Abdroz\FoodMenu\Api\ResponseItemInterface" type="Abdroz\FoodMenu\Model\Api\ResponseItem"/>
</config>
